---
import Button from "../../ui/Button/Button.astro";
import Title from "../../ui/Title/Title.astro";
import '../../styles/variables.css';
import './ArticleCard.css';

const { title, subtitle, image, link } = Astro.props;
---

<section class="article-card-component">
  {image && image.trim() !== "" && (
    <div class="article-card-component-img-wrapper">
      <img
        src={image}
        alt={`Illustration pour l'article ${title}`}
        class="article-card-component-img"
        loading="lazy"
      />
    </div>
  )}
  <div class="article-card-component-content">
    <Title
      text={title}
      className="article-card-component-title"
      level="4"
    />
    {subtitle && <p class="article-card-component-subtitle">{subtitle}</p>}
    <Button
      class="hide-article-btn"
      variant="teal"
      size="sm"
      href={link}
      target="_blank"
      rel="noopener"
      aria-label={`Lire l'article ${title} - ouvre une nouvelle page`}
    >
      Lire l’article
    </Button>
  </div>
</div>